.NavBar{
    width: 85vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4px;
    margin: 7px;
    background-color: rgba(0, 0, 0, 0.603);
    border: 1px outset rgb(80, 78, 78);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn.btn-danger:hover{
   
    position: absolute;
    right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.btn.btn-danger:focus{
   
    position: absolute;
    right: 10px;
   box-shadow: inset 1px 2px 3px rgb(48, 1, 1);;
    
}

.btn.btn-link{
    background-color: rgba(48, 47, 47, 0.721);
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -13px 15px 0px inset, rgba(0, 0, 0, 0.15) 0px -16px 15px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 12px 6px;
    transition: .5s ease-in-out;
  }
  
  .btn.btn-link:hover{
    color: red;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border: 1px solid rgb(78, 2, 2);
    background-color: rgba(56, 54, 54, 0.815);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(27, 27, 27, 0.897) 0px 32px 16px;
    transition: .5s ease-in-out;
  }
  
  
  .btn{
    font-family: 'Nunito', sans-serif;  
    box-shadow: 1px 1px 2px rgb(0, 0, 0),
    2px 2px 3px rgb(19, 18, 18);
    transition: .5s ease-in-out;
  }
  .btn:hover{
    box-shadow: 1px 1px 2px rgb(0, 0, 0),
                2px 2px 3px rgb(0, 0, 0),
                3px 3px 4px rgba(0, 0, 0, 0.5);
                transition: .5s ease-in-out;
  }
  
  .btn:focus{
  color: rgb(107, 166, 221);
  box-shadow: 
  inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

                transition: .5s ease-in-out;
  }
  
  
